main {
    width: 100vw;
}

.panelsOuterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
}

.panelsInnerContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 65%;
    height: 80vh;
    overflow: auto;
    flex-direction: row;
}

.panel {
    width: 20vw;
    height: 30vh;
    margin: 50px;
    padding: 25px;
    border: 2px solid #E8EBF7;
    border-radius: 8px;
}

.panelImage {
    width: 20vw;
    height: 30vh;
}

@media (max-width: 468px) {
    .panelsInnerContainer {
        flex-direction: column;
    }

    .panel {
        width: 80%;
        height: max-content;
        padding: 15px;
    }

    .panelImage {
        width: 80%;
        height: max-content;
    }
}
