.headerMenu {
  height: 25vh;
  width: 100vw;
  position: fixed;
  top: 0;
}

.headerLinks {
  width: 100vw;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-between;
}

.headerLink {
  margin: 10px 25px;
  font-size: 1.2rem;
  font-weight: 600;
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  text-decoration: none;
  color: #071013;
  font-family: 'Roboto Mono', monospace;
  line-height: 1.2;
}

.headerLink:hover {
  color: #F9F9F9;
  text-decoration: underline;
}

.headerLink:active {
  text-decoration: underline;
}

@media (max-width: 450px) {
  .headerMenu {
    background-color: #48e08f;
  }

  .headerLinks {
    flex-direction: column;
    justify-content: center;
  }

  .headerLink {
    margin: 8px auto;
    font-size: 1rem;
  }
}
